.cover-time-of-day {
  opacity: 0.8;

  &.morning {
    background: rgb(46, 231, 255);
    background: linear-gradient(0deg, rgba(46, 231, 255, 1) 0%, rgba(19, 137, 255, 1) 100%);
  }

  &.afternoon {
    background: rgb(46, 154, 255);
    background: linear-gradient(0deg, rgba(46, 154, 255, 1) 0%, rgba(19, 85, 255, 1) 100%);
  }

  &.evening {
    background: rgb(18, 0, 36);
    background: linear-gradient(0deg, rgba(18, 0, 36, 1) 0%, rgba(245, 100, 0, 1) 100%);
  }

  &.night {
    background: rgb(18, 1, 23);
    background: linear-gradient(0deg, rgba(18, 1, 23, 1) 0%, rgba(10, 7, 87, 1) 100%);
  }
}